# APP
PORT=<port>
ENVIRONMENT=DEV

# LOG
LOG4J_PATH_LOG=./log/
LOG4J_FILE_LOG=apps.log

# BITTREX
BITTREX_WS_URI='<url - ws>'
BITTREX_WS_VER=["c3"]
BITTREX_WS_PAIR=["BTC-USD","ETH-USD"]
BITTREX_WS_OPERATION=["buy", "sell"]